@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Yellowtail&display=swap');

* {
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

.links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 50px;
}

.header a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.logo a {
    font-family: "Yellowtail", sans-serif;
    font-size: 24px;
}

.header {
    display: flex;
    background-color: rgb(38, 38, 38);
    align-items: center;
    justify-content:space-around;
    padding: 10px 0;
}

/* ---------------Info section--------------- */
.info-container {
    background-color: rgb(38, 38, 38);
    display: flex;
    align-items:start;
    justify-content: center;
    gap: 100px;
    padding: 60px 0;
    
}

.info-container .title {
    color: white;
} 

.info-container p {
    font-weight: 200;
    width: 350px;
    color: white;
}

.info-container .title {
    font-weight: 700;
    font-size: 40px;
}

.info-container img {
    width: 400px;
    border-radius: 10px;
}

.info-container button {
    padding: 4px 10px;
    font-weight: 600;
    color: white;
    background-color:darkgoldenrod;
    border: none;
    border-radius: 3px;
}

/* ---------------Photos section--------------- */

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 40px;
}

.images-container .title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(38, 38, 38);
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.images img {
    width: 250px;
    border-radius: 10px;
    
}

.images p {
    color: rgb(38, 38, 38);
    text-align: center;
    font-weight: 400;
}

/* ---------------Quote section--------------- */

.quote-background {
    background-color: rgba(184, 134, 11, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding: 40px 0;
}

.quote {
    font-style: italic;
    font-size: 50px;
    font-weight: 500;

}

.quote-container .author {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    
}
.quote-container .author,.quote {
    color: white;
}

/* ---------------PopUp section--------------- */

.popup-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.popup-container {
    background-color: darkgoldenrod;
    padding: 40px 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.popup-container .text {
    display: flex;
    flex-direction: column;
}

.popup-container p {
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.popup-container .title {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.popup-container button {
    background-color: darkgoldenrod;
    color: white;
    padding: 3px 30px;
    border-radius: 4px;
    border: solid white 2px;
    font-weight: 500;
}

/* ---------------PopUp section--------------- */

.footer {
    display: flex;
    background-color: rgb(38, 38, 38);
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer p {
    color: white;
    font-weight: 300;
}